In [1]:
import pyodbc

In [2]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [12]:
conn=pyodbc.connect(
    'Driver={ODBC Driver 17 for SQL Server};'
    r'Server=SANDY\SQLEXPRESS;'
        'Trusted_Connection=yes;'
    'Database=PythonLearningDB;'
)
cursor=conn.cursor()

In [165]:
import pandas as pd
df=pd.read_csv(r'C:\Users\sande\Downloads\customer_data.csv')

In [166]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze

In [17]:
df.columns

Index(['customer_id', 'name', 'email', 'phone', 'address', 'registration_date',
       'loyalty_status'],
      dtype='object')

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [71]:
cursor.execute("""
    create table CustomerData(
    customer_id int,
    name varchar(100),
    email varchar(100),
    phone varchar(100),
    address nvarchar(100),
    registration_date date,
    loyalty_status varchar(100))
    """
    )

In [72]:
conn.commit()

In [69]:
cursor.execute('''
drop table CustomerData''')

In [64]:
cursor.execute(""" select * from CustomerData""")

In [42]:
type(df.loc[109,'registration_date'])

pandas._libs.tslibs.timestamps.Timestamp

In [168]:
df['registration_date']=pd.to_datetime(df['registration_date'],errors='coerce').dt.date

C:\Users\sande\AppData\Local\Temp\ipykernel_25396\452592504.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['registration_date']=pd.to_datetime(df['registration_date'],errors='coerce').dt.date

In [ ]:
import numpy as np
df = df.replace({pd.NaT: None})
df = df.replace({np.nan: None})

In [ ]:
for row in df.itertuples():
    cursor.execute('''
    insert into CustomerData(customer_id,name,email,phone,address,registration_date,loyalty_status)
    values(?,?,?,?,?,?,?)
    ''',
                   (row.customer_id,
                   row.name,
                   row.email,
                   row.phone,
                   row.address,
                   row.registration_date,
                   row.loyalty_status)
                  )
conn.commit()

In [171]:
orders=pd.read_csv(r"C:\Users\sande\Downloads\order_data 1 1.csv")

In [172]:
orders.columns

Index(['order_id', 'customer_id', 'order_date', 'order_amount', 'order_status',
       'product_category'],
      dtype='object')

In [87]:
cursor.execute('''
create table orders(
order_id varchar(250),
customer_id int,
order_date date,
order_amount float,
order_status varchar(100),
product_category varchar(100))
''')
conn.commit()

In [241]:
for row in orders.itertuples():
    cursor.execute('''
        insert into orders (order_id,customer_id,order_date,order_amount,order_status,product_category)
        values(?,?,?,?,?,?)
        ''',
                   (row.order_id,
                   row.customer_id,
                   row.order_date,
                   row.order_amount,
                   row.order_status,
                   row.product_category)
                  )
conn.commit()

In [92]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [93]:
orders

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [173]:
df.drop_duplicates(subset=['customer_id'],keep='first')

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [174]:
df['email']=df.apply(lambda row:f"{row['name'].lower().strip().replace(' ','_')}@email.com" if pd.isnull(row['email']) else row['email'],axis=1)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [176]:
df['email_flag']=df['email'].astype(str).str.match(r'^[a-zA-Z0-9_.]+@[a-z]+\.[a-z]{2,}$',na=False)

In [177]:
df['email_flag'].value_counts()

email_flag
True    1000
Name: count, dtype: int64

In [178]:
df.drop(columns=['email_flag'],inplace=True)

In [179]:
df['phone']=df.apply(lambda row:f"000-000-0000" if pd.isnull(row['phone']) else row['phone'],axis=1)

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [181]:
df['registration_date']=pd.to_datetime(df['registration_date'],errors='coerce')

In [182]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [183]:
dial_code=pd.read_csv(r"C:\Users\sande\Downloads\Country_2-3_Digits_Codes.csv")

In [184]:
dial_code

               COUNTRY  A2   A3  NUM DIALINGCODE
0          Afghanistan  AF  AFG    4          93
1              Albania  AL  ALB    8         355
2              Algeria  DZ  DZA   12         213
3       American Samoa  AS  ASM   16       1-684
4              Andorra  AD  AND   20         376
..                 ...  ..  ...  ...         ...
243  Wallis and Futuna  WF  WLF  876         681
244     Western Sahara  EH  ESH  732         212
245              Yemen  YE  YEM  887         967
246             Zambia  ZM  ZMB  894         260
247           Zimbabwe  ZW  ZWE  716         263

[248 rows x 5 columns]

In [185]:
dial_map=dict(zip(dial_code['A2'],dial_code['DIALINGCODE']))

In [186]:
dial_map

{'AF': '93',
 'AL': '355',
 'DZ': '213',
 'AS': '1-684',
 'AD': '376',
 'AO': '244',
 'AI': '1-264',
 'AQ': '672',
 'AG': '1-268',
 'AR': '54',
 'AM': '374',
 'AW': '297',
 'AU': '61',
 'AT': '43',
 'AZ': '994',
 'BS': '1-242',
 'BH': '973',
 'BD': '880',
 'BB': '1-246',
 'BY': '375',
 'BE': '32',
 'BZ': '501',
 'BJ': '229',
 'BM': '1-441',
 'BT': '975',
 'BO': '591',
 'BQ': '599',
 'BA': '387',
 'BW': '267',
 'BV': '47',
 'BR': '55',
 'IO': '246',
 'BN': '673',
 'BG': '359',
 'BF': '226',
 'BI': '257',
 'KH': '855',
 'CM': '237',
 'CA': '1',
 'CV': '238',
 'KY': '1-345',
 'CF': '236',
 'TD': '235',
 'CL': '56',
 'CN': '86',
 'CX': '61',
 'CC': '61',
 'CO': '57',
 'KM': '269',
 'CG': '242',
 'CD': '243',
 'CK': '682',
 'CR': '506',
 'HR': '385',
 'CU': '53',
 'CW': '599',
 'CY': '357',
 'CZ': '420',
 'CI': '225',
 'DK': '45',
 'DJ': '253',
 'DM': '1-767',
 'DO': '1-809,1-829,1-849',
 'EC': '593',
 'EG': '20',
 'SV': '503',
 'GQ': '240',
 'ER': '291',
 'EE': '372',
 'ET': '251',
 'FK': '500',
 'FO': '298',
 'FJ': '679',
 'FI': '358',
 'FR': '33',
 'GF': '594',
 'PF': '689',
 'TF': '262',
 'GA': '241',
 'GM': '220',
 'GE': '995',
 'DE': '49',
 'GH': '233',
 'GI': '350',
 'GR': '30',
 'GL': '299',
 'GD': '1-473',
 'GP': '590',
 'GU': '1-671',
 'GT': '502',
 'GG': '44',
 'GN': '224',
 'GW': '245',
 'GY': '592',
 'HT': '509',
 'HM': '672',
 'VA': '379',
 'HN': '504',
 'HK': '852',
 'HU': '36',
 'IS': '354',
 'IN': '91',
 'ID': '62',
 'IR': '98',
 'IQ': '964',
 'IE': '353',
 'IM': '44',
 'IL': '972',
 'IT': '39',
 'JM': '1-876',
 'JP': '81',
 'JE': '44',
 'JO': '962',
 'KZ': '7',
 'KE': '254',
 'KI': '686',
 'KP': '850',
 'KR': '82',
 'KW': '965',
 'KG': '996',
 'LA': '856',
 'LV': '371',
 'LB': '961',
 'LS': '266',
 'LR': '231',
 'LY': '218',
 'LI': '423',
 'LT': '370',
 'LU': '352',
 'MO': '853',
 'MK': '389',
 'MG': '261',
 'MW': '265',
 'MY': '60',
 'MV': '960',
 'ML': '223',
 'MT': '356',
 'MH': '692',
 'MQ': '596',
 'MR': '222',
 'MU': '230',
 'YT': '262',
 'MX': '52',
 'FM': '691',
 'MD': '373',
 'MC': '377',
 'MN': '976',
 'ME': '382',
 'MS': '1-664',
 'MA': '212',
 'MZ': '258',
 'MM': '95',
 nan: '264',
 'NR': '674',
 'NP': '977',
 'NL': '31',
 'NC': '687',
 'NZ': '64',
 'NI': '505',
 'NE': '227',
 'NG': '234',
 'NU': '683',
 'NF': '672',
 'MP': '1-670',
 'NO': '47',
 'OM': '968',
 'PK': '92',
 'PW': '680',
 'PS': '970',
 'PA': '507',
 'PG': '675',
 'PY': '595',
 'PE': '51',
 'PH': '63',
 'PN': '870',
 'PL': '48',
 'PT': '351',
 'PR': '1',
 'QA': '974',
 'RO': '40',
 'RU': '7',
 'RW': '250',
 'RE': '262',
 'BL': '590',
 'SH': '290',
 'KN': '1-869',
 'LC': '1-758',
 'MF': '590',
 'PM': '508',
 'VC': '1-784',
 'WS': '685',
 'SM': '378',
 'ST': '239',
 'SA': '966',
 'SN': '221',
 'RS': '381',
 'SC': '248',
 'SL': '232',
 'SG': '65',
 'SX': '1-721',
 'SK': '421',
 'SI': '386',
 'SB': '677',
 'SO': '252',
 'ZA': '27',
 'GS': '500',
 'SS': '211',
 'ES': '34',
 'LK': '94',
 'SD': '249',
 'SR': '597',
 'SJ': '47',
 'SZ': '268',
 'SE': '46',
 'CH': '41',
 'SY': '963',
 'TW': '886',
 'TJ': '992',
 'TZ': '255',
 'TH': '66',
 'TL': '670',
 'TG': '228',
 'TK': '690',
 'TO': '676',
 'TT': '1-868',
 'TN': '216',
 'TR': '90',
 'TM': '993',
 'TC': '1-649',
 'TV': '688',
 'UG': '256',
 'UA': '380',
 'AE': '971',
 'GB': '44',
 'US': '1',
 'UM': '1',
 'UY': '598',
 'UZ': '998',
 'VU': '678',
 'VE': '58',
 'VN': '84',
 'VG': '1-284',
 'VI': '1-340',
 'WF': '681',
 'EH': '212',
 'YE': '967',
 'ZM': '260',
 'ZW': '263'}

In [187]:
df['country_code']='US'

In [188]:
df['dial_code']='+'+df['country_code'].map(dial_map)+'- '

In [189]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,dial_code
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1-
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1-
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1-
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1-
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1-
...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1-
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1-
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1-
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1-
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1-

In [190]:
df['phone_number']=df['dial_code']+df['phone']

In [191]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,dial_code,phone_number
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1-,+1- 619-723-4258
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1-,+1- 537-674-1158
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1-,+1- 810-256-4505
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1-,+1- 423-222-9779
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1-,+1- 220-763-3522
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1-,+1- 638-989-9441
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1-,+1- 483-625-2940
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1-,+1- 390-747-3088
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1-,+1- 257-409-8196
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1-,+1- 692-333-6880

In [192]:
df.drop(columns=['dial_code','phone'],inplace=True)

In [193]:
df

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1- 220-763-3522
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1- 638-989-9441
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880

In [194]:
df['state_code']=df['address'].astype(str).str[-8:-6]

In [195]:
df

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number,state_code
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258,AE
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505,UT
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779,CA
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1- 220-763-3522,OR
...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1- 638-989-9441,AS
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940,AL
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196,AP
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880,MH

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   address            1000 non-null   object
 4   registration_date  1000 non-null   datetime64[ns]
 5   loyalty_status     1000 non-null   object
 6   country_code       1000 non-null   object
 7   phone_number       1000 non-null   object
 8   state_code         1000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 70.4+ KB

In [197]:
orders

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [198]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2000 non-null   object
 1   customer_id       2000 non-null   int64
 2   order_date        2000 non-null   object
 3   order_amount      2000 non-null   float64
 4   order_status      2000 non-null   object
 5   product_category  2000 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 93.9+ KB

In [199]:
orders['order_date']=pd.to_datetime(orders['order_date'],errors='coerce')

In [200]:
customer_map=dict({
    'Gold':2,
    'Silver':1,
    'Bronze':0}
)

In [201]:
customer_map

{'Gold': 2, 'Silver': 1, 'Bronze': 0}

In [202]:
df['customer_tier']=df['loyalty_status'].map(customer_map)

In [203]:
df

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number,state_code,customer_tier
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258,AE,2
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT,1
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505,UT,0
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779,CA,2
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1- 220-763-3522,OR,2
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1- 638-989-9441,AS,1
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940,AL,0
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE,0
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196,AP,2
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880,MH,0

In [204]:
df['name']=df['name'].astype(str).str.strip().replace(r'Mr\.|Mrs\.|Miss\.|Dr\.|Jr\.|Sr\.|II|III','',regex=True)

In [205]:
df[['first_name','last_name']]=df['name'].astype(str).str.split(' ',n=1,expand=True)

In [206]:
df

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number,state_code,customer_tier,first_name,last_name
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258,AE,2,Michelle,Kidd
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT,1,Brad,Newton
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505,UT,0,Larry,Torres
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779,CA,2,Kimberly,Price
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1- 220-763-3522,OR,2,Matthew,Phillips
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1- 638-989-9441,AS,1,Jerry,Mcdaniel
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940,AL,0,Jodi,Simpson
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE,0,Crystal,Brown
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196,AP,2,Gregory,Duarte
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880,MH,0,Jason,Walls

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   address            1000 non-null   object
 4   registration_date  1000 non-null   datetime64[ns]
 5   loyalty_status     1000 non-null   object
 6   country_code       1000 non-null   object
 7   phone_number       1000 non-null   object
 8   state_code         1000 non-null   object
 9   customer_tier      1000 non-null   int64
 10  first_name         1000 non-null   object
 11  last_name          1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 93.9+ KB

In [208]:
df['first_name'].value_counts()

first_name
Michael        25
Jennifer       18
Christopher    18
               17
Mary           16
               ..
Mallory         1
Bryce           1
Madison         1
Dennis          1
Jodi            1
Name: count, Length: 359, dtype: int64

In [209]:
df['last_name'].value_counts()

last_name
Smith        17
Brown        17
Williams     16
Miller       12
Johnson      12
             ..
Downs         1
Chen          1
Kramer        1
Jefferson     1
Walls         1
Name: count, Length: 534, dtype: int64

In [210]:
df

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number,state_code,customer_tier,first_name,last_name
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258,AE,2,Michelle,Kidd
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT,1,Brad,Newton
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505,UT,0,Larry,Torres
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779,CA,2,Kimberly,Price
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,+1- 220-763-3522,OR,2,Matthew,Phillips
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,+1- 638-989-9441,AS,1,Jerry,Mcdaniel
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940,AL,0,Jodi,Simpson
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE,0,Crystal,Brown
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196,AP,2,Gregory,Duarte
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880,MH,0,Jason,Walls

In [211]:
df.isnull().sum()

customer_id          0
name                 0
email                0
address              0
registration_date    0
loyalty_status       0
country_code         0
phone_number         0
state_code           0
customer_tier        0
first_name           0
last_name            0
dtype: int64

In [212]:
orders

,order_id,customer_id,order_date,order_amount,order_status,product_category
0,892a07a4-d252-4775-85e0-73077143e1c6,966,2024-11-27,317.64,Cancelled,Home & Garden
1,ae160758-e187-47b2-9350-032f88f55491,345,2023-03-27,645.87,Completed,Home & Garden
2,7c50456e-6123-45cc-aa19-128bef3754d6,503,2024-03-31,880.86,Pending,Clothing
3,c788b56b-3716-4cd9-a827-d4dc401ba00c,385,2023-08-09,876.83,Cancelled,Home & Garden
4,925ab5b1-adb1-4302-a70b-1c2db724e02b,817,2023-04-19,264.53,Pending,Home & Garden
...,...,...,...,...,...,...
1995,cb6f0f6b-3d4b-402c-ba9e-a8e666422d97,799,2023-11-20,634.62,Cancelled,Clothing
1996,900fdea4-fd87-486d-bc20-26d045767ed8,692,2023-07-20,945.97,Cancelled,Electronics
1997,4550ccfe-18c1-45d5-8c31-0edf1e3d9fa3,695,2024-01-06,229.99,Cancelled,Home & Garden
1998,dd19b028-dfa2-4eda-a66f-44f5401ef27e,502,2023-02-05,596.65,Completed,Electronics
1999,5e32ff66-d3dd-48ad-8e47-cd71bb2e97ea,348,2024-11-02,238.69,Completed,Books

In [213]:
unified_view=df.merge(orders,on='customer_id',how='left')

In [216]:
unified_view

,customer_id,name,email,address,registration_date,loyalty_status,country_code,phone_number,state_code,customer_tier,first_name,last_name,order_id,order_date,order_amount,order_status,product_category
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,+1- 619-723-4258,AE,2,Michelle,Kidd,NaN,NaT,NaN,NaN,NaN
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT,1,Brad,Newton,209c024e-6c32-49fa-acd1-2501bd19c1cd,2023-10-30,486.53,Pending,Toys
2,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,+1- 537-674-1158,MT,1,Brad,Newton,3f263091-da18-48a6-8b00-c179e1b1a81a,2024-08-29,781.22,Pending,Books
3,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,+1- 810-256-4505,UT,0,Larry,Torres,63d7870e-617e-4f49-ae9b-b893e635e43f,2023-04-05,454.07,Pending,Toys
4,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,+1- 423-222-9779,CA,2,Kimberly,Price,cbe7b5ef-013f-4b4f-9ac4-3b510075080a,2023-08-12,259.07,Cancelled,Electronics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,+1- 483-625-2940,AL,0,Jodi,Simpson,1f68878c-e2ea-4995-8bed-fe081cf68de1,2023-12-31,761.54,Completed,Books
2128,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE,0,Crystal,Brown,6591af07-d6f0-4a4d-8b17-af2f2a0024bc,2024-11-14,259.09,Completed,Electronics
2129,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,+1- 390-747-3088,DE,0,Crystal,Brown,40147e83-5ddc-4c9d-a936-2e9adde8a3be,2024-09-23,535.74,Cancelled,Toys
2130,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,+1- 257-409-8196,AP,2,Gregory,Duarte,37c6d783-c697-4d0a-99d0-4bbef1cbb884,2024-02-22,57.45,Pending,Books
2131,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,+1- 692-333-6880,MH,0,Jason,Walls,3c8b9c0d-ffa8-41fa-a75b-ec4aee2bc780,2023-12-12,867.26,Cancelled,Toys

In [217]:
unified_view = unified_view.replace({pd.NaT: None, np.nan: None})

In [229]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2000 non-null   object
 1   customer_id       2000 non-null   int64
 2   order_date        2000 non-null   datetime64[ns]
 3   order_amount      2000 non-null   float64
 4   order_status      2000 non-null   object
 5   product_category  2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 93.9+ KB

In [224]:
desired_order=['customer_id','name','first_name','last_name','email','phone_number','address','state_code','country_code','registration_date','loyalty_status','customer_tier','order_id','order_date','order_amount','order_status','product_category']

In [225]:
unified_view=unified_view[desired_order]

In [236]:
unified_view.columns

Index(['customer_id', 'name', 'first_name', 'last_name', 'email',
       'phone_number', 'address', 'state_code', 'country_code',
       'registration_date', 'loyalty_status', 'customer_tier', 'order_id',
       'order_date', 'order_amount', 'order_status', 'product_category'],
      dtype='object')

In [237]:
unified_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        2132 non-null   int64
 1   name               2132 non-null   object
 2   first_name         2132 non-null   object
 3   last_name          2132 non-null   object
 4   email              2132 non-null   object
 5   phone_number       2132 non-null   object
 6   address            2132 non-null   object
 7   state_code         2132 non-null   object
 8   country_code       2132 non-null   object
 9   registration_date  2132 non-null   datetime64[ns]
 10  loyalty_status     2132 non-null   object
 11  customer_tier      2132 non-null   int64
 12  order_id           2000 non-null   object
 13  order_date         2000 non-null   object
 14  order_amount       2000 non-null   object
 15  order_status       2000 non-null   object
 16  product_category   2000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(14)
memory usage: 283.3+ KB

In [ ]:
cursor.execute('''
create table unified_customer_view(
customer_id int,
name varchar(100),
first_name varchar(50),
last_name varchar(50),
email varchar(100),
phone_number varchar(50),
address nvarchar(250),
state_code varchar(25),
country_code varchar(25),
registration_date date,
loyalty_status varchar(25),
customer_tier int,
order_id varchar(200),
order_date date,
order_amount float,
order_status varchar(50),
product_category varchar(100)
)''')
conn.commit()

In [239]:
for row in unified_view.itertuples():
    cursor.execute('''
    insert into unified_customer_view(customer_id, name, first_name, last_name, email,
       phone_number, address, state_code, country_code,
       registration_date, loyalty_status, customer_tier, order_id,
       order_date, order_amount, order_status, product_category)
       values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
       ''',
                   row.customer_id,
                   row.name,
                   row.first_name,
                   row.last_name,
                   row.email,
                   row.phone_number,
                   row.address,
                   row.state_code,
                   row.country_code,
                   row.registration_date,
                   row.loyalty_status,
                   row.customer_tier,
                   row.order_id,
                   row.order_date,
                   row.order_amount,
                   row.order_status,
                   row.product_category
                  )
conn.commit()

In [242]:
unified_view.to_csv('unified_customers_view.csv',index=False)